.Map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
    z-index: 0;
}

.SearchForm {
	height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;  
    z-index: 1;
    padding-top: 50px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}